In [14]:
#implement list

list = [1,2,34,5,"Bhargav" , ["dr"]]
print(list)
print(list[::-1])
print(list[0])

#append in list
list.append(1)
print(list)
list2 = ["a","b","c"]
list.append(list2)
print(list)

[1, 2, 34, 5, 'Bhargav', ['dr']]
[['dr'], 'Bhargav', 5, 34, 2, 1]
1
[1, 2, 34, 5, 'Bhargav', ['dr'], 1]
[1, 2, 34, 5, 'Bhargav', ['dr'], 1, ['a', 'b', 'c']]

In [15]:
#implement dictionary

dict ={ 
    "a1":"Bhargav",
    "a2":"deep",
    "a3":"dhruv"
}

print(dict)
print(dict["a1"])
print(dict.get("a2"))

del dict["a3"]
print(dict)

{'a1': 'Bhargav', 'a2': 'deep', 'a3': 'dhruv'}
Bhargav
deep
{'a1': 'Bhargav', 'a2': 'deep'}

In [22]:
#impelement dataframes

import pandas as pd
data = {'Name':['Bhargav', 'Deep', 'krish', 'Rohit'],
        'Age':[20, 21,22,35]
      }
data1 = {'Name':['Bhargav', 'Deep', 'krish', 'Rohit'],
        'Age':[20, 21,22,35],
        'Address':['surat', 'surat', 'Allahabad', 'pune'],
        'Qualification':['BE', 'BE', 'MCA', 'PHD']}

D_frame = pd.DataFrame(data)
D_frame2 = pd.DataFrame(data1)
print(D_frame)
print("\n")
print(D_frame2[["Name","Address" ,"Qualification"]])

      Name  Age
0  Bhargav   20
1     Deep   21
2    krish   22
3    Rohit   35


      Name    Address Qualification
0  Bhargav      surat            BE
1     Deep      surat            BE
2    krish  Allahabad           MCA
3    Rohit       pune           PHD

In [42]:
# Implement numpy 

import numpy as nm
ar = nm.array([[1,2,3],4,5,[11,22]])
print(ar,"\n")
print(ar[:2]) #slice the array

x= ar.view()
print(x,"\n")

Rs = ar.reshape(2,2)
print(Rs,"\n")

for x in ar:
  print(x)

print('\n')


arr1 = nm.array([1,2,3])
arr2 = nm.array([4,5,6])

arr3 = nm.concatenate((arr1,arr2))
print(arr3,"\n")

arr4 = nm.where(arr1 == 2)
print(arr4)

[list([1, 2, 3]) 4 5 list([11, 22])]

[list([1, 2, 3]) 4]
[list([1, 2, 3]) 4 5 list([11, 22])]

[[list([1, 2, 3]) 4]
 [5 list([11, 22])]]

[1, 2, 3]
4
5
[11, 22]


[1 2 3 4 5 6]

(array([1]),)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  after removing the cwd from sys.path.